<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://adrenaline.com.br/uploads/chamadas/Zelda_Tears_of_The_Kingdom.jpg"
    height="200px"
    alt="" srcset="">
  </div>
  <div class="big-card_title">
    <h1> <a href="#"> Vem aí Tears of the Kingdom </a> </h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="#">
        Após o sucesso com os jogos The Legend of Zelda: Breath of the Wild e Hyrule Warriors: Age of Calamity, a franquia finalmente dá
        aos fãs a tão esperada continuidade em The Legend of Zelda: Tears of the Kingdom que promete ser um jogo tão rico quanto a sua
        primeira versão lançada para Nintendo Switch.
      </a>
    </p>
  </div>
</div>
