.cotainer_small-card{
  width: 700px;

  margin-bottom: 15px;
}

.container_small-card-content{
  display: flex;
  flex-direction: row;
}

.small-card_photo > img{
  width: 200px;
  min-width: 200px;
  height: 140px;
  min-height: 140px;
  margin-right: 20px;
}

.small-card_title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_small-card-separator{
  margin-top: 10px;
}
